body{
    background: linear-gradient(135deg);
    background-color: #808080;
    font-family: 'Lato', sans-serif;
    color: #333;
}
body.clear-sky {
    background: linear-gradient(to right, #87ceeb, #f0f8ff);
}
body.cloudy {
    background: linear-gradient(to right, #b0c4de, #dcdcdc);
}
body.rainy {
    background: linear-gradient(to right, #4f6d7a, #c0c0c0);
    
}

body.thunderstorm {
    background: linear-gradient(to right, #2f4f4f, #708090);
}

body.snow {
    background: linear-gradient(to right, #ffffff, #add8e6);
    
    
}

body.fog {
    background: linear-gradient(to right, #d3d3d3, #f5f5f5);
    
}

body.windy {
    background: linear-gradient(to right, #9acd32, #87cefa);
    
}
html, body {
    height: 100%;
    margin: 0;
    overflow: auto; 
}
.weather-ico{
    font-size: 200px;
}
.main-container {
    text-align: center;
    padding: 20px 20px 50px;
    margin: 10px auto 40px;
    background-color: none;
    border-radius: 10px;
    max-width: 600px;
    font-family: 'Lato', sans-serif;
}
.main-container:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
}

form input[type="text"], form input[type="submit"], form select{
    display: block;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
}
form input[type="text"], form select{
    background-color: hsla(0, 0%, 96%, 0.678);
    border: 1px solid #000000;
}
form input[type="submit"]{
    background-color: hsla(138, 100%, 50%, 0.534);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}
.weather-card {
    font-size: medium;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 5px; 
    align-items: center; 
    margin-bottom: 50px;
    box-sizing: border-box;
}
.weather-card img {
    width: 200px;
    height: 200px;
    grid-column: span 2; 
    margin: 0 auto;
}

.weather-card h5 {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px;
    grid-column: span 2; 
    
}

.weather-card div  {
    
    font-size: 3rem;
    text-align: center;
    margin: 10px 0;
    grid-column: span 2; 
    
}


.weather-card p  {
    border: 2px solid black;
    font-size: 1.5rem;
    margin: 5px 0;
    margin-left: 10px;
    text-align: center;
    align-content: center;
    height: 6rem;
}
.weather-card span{
    font-size: 1rem;
}
.weather-card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.dropdown{
    margin-top: 2rem;
}

.borrar-historial {
    text-align: center;
    border-radius: 8px;
    background-color: rgb(240, 78, 78);
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    margin: 10px;
    height: 45px;
    width: 105px;
}

.dropdown-menu li {
    width: 100%;
    align-items: center;
    background-color: #f0f4f8;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
