body{
    background: linear-gradient(to right,rgb(71, 71, 71) ,#808080);
    background-color: #808080;
    font-family: 'Lato', sans-serif;
    color: #333;
}
body.clear-sky {
    background: linear-gradient(to right, #87ceeb, #f0f8ff);
}
body.cloudy {
    background: linear-gradient(to right, #b0c4de, #dcdcdc);
}
body.rainy {
    background: linear-gradient(to right, #4f6d7a, #c0c0c0);
    
}

body.thunderstorm {
    background: linear-gradient(to right, #2f4f4f, #708090);
}

body.snow {
    background: linear-gradient(to right, #ffffff, #add8e6);
    
    
}

body.fog {
    background: linear-gradient(to right, #d3d3d3, #f5f5f5);
    
}

body.windy {
    background: linear-gradient(to right, #9acd32, #87cefa);
    
}
html, body {
    height: 100%;
    margin: 0;
    overflow: auto; 
}
nav.navbar {
    background: linear-gradient(to right, #000000, #616161);
}
.navbar-brand, .nav-link-text{
    color: #87cefa;
}
.navbar-brand:hover, .nav-link-text:hover{
    color: #0056b3;
}
.nav-link-text:focus{
    background-color: #39b840;
}
.nav-link-text {
    margin-left: 25px;
}
.weather-ico{
    font-size: 200px;
}
.weather-container{
    margin-top: 70px;
}
.main-container {
    text-align: center;
    padding: 20px 20px 50px;
    margin: 75px auto 40px;
    background-color: none;
    border-radius: 10px;
    max-width: 600px;
    font-family: 'Lato', sans-serif;
}
.main-container:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
}

form input[type="text"], form input[type="submit"], form select{
    display: block;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
}
form input[type="text"], form select{
    background-color: hsla(0, 0%, 96%, 0.678);
    border: 1px solid #000000;
}
form input[type="submit"]{
    background-color: hsla(138, 100%, 50%, 0.534);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}
.weather-card{
    text-align: center;
}
.weather-info {
    
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.1);
    min-width: 280px;
    padding: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 5px; 
    align-items: center; 
    margin-bottom: 50px;
    box-sizing: border-box;
    border-radius: 10px;
}
.fixedicons{
    height: 80px;
}
.weather-icon  {
    width: 200px;
    height: 200px;
    grid-column: span 2; 
    margin: 0 auto;
}
.weather-image{
    width: 300px;
    height: 300px;
}

.weather-card h5 {
    font-size: 3rem;
    font-weight: 800;
    margin: 30px;
    grid-column: span 2; 
    
}

.weather-main  {
   
    font-size: 3rem;
    text-align: center;
    
    margin: 10px 0;
    grid-column: span 2; 
    
}


.weather-card p {
   
    color: #000000;
    margin-left: 20%;
    padding: 10px;
    font-size: 1.5rem;
    text-align:start;
    align-content:center;
    height: 6rem;
    justify-content: center;
}

.weather-card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.dropdown{
    margin-top: 2rem;
    
}

.borrar-historial {
    text-align: center;
    border-radius: 8px;
    background-color: rgb(240, 78, 78);
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    margin: 10px;
    height: 45px;
    width: 105px;
}

.dropdown-menu li {
    width: 100%;
    align-items: center;
    background-color: #f0f4f8;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px){
     .weather-card p{
        margin: 0%;
        
        height: 130px;
        
     }
     
     

}
#card-span{
    color: rgb(0, 0, 0);
    font-weight: 600;
}

#carouselExampleCaptions{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   width: 70%;
   margin: 100px auto 30px auto;
   text-align: center;
    border-radius: 10px;
    
    grid-column: span 2; 
    
  
}
.carousel-caption{
    margin: 0%;
    padding: 0;
    gap: 0;
  top: 5px;
  left: 15px;
  width: 90%;
  color:black;
  
  border-radius: 10px;
}
.titulo-carrusel h6{
    font-size: medium;
}
.carousel-item{
    animation: fadeInUp 0.5s ease forwards;
    display: none;
    height: 100%;
}
.carousel-item img{
    height: 200px;
    object-fit: contain;
    width: 100%;

}
.span-carrusel{
    font-weight: 800;
}